{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <h1>{{ treasure.name }}</h1>
    <p>{{ treasure.material }}</p>
    {% if treasure.value > 0 %}
        <p>{{ treasure.value }}</p>
    {% else %}
        <p>Unknown</p>
    {% endif %}
    <p>{{ treasure.location }}</p>
    <img src="{{ treasure.image.url }}"/>

    <button id="likes" data-id="{{ treasure.id }}"
                            class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
                        {% if treasure.likes > 0 %}
                            {{ treasure.likes }}
                        {% endif %}
                    </button>
{% endblock %}